// Color config
[data-theme='dark'] {
  --background-color-primary: #313231;
  --background-color-secondary: #3a3b3b;
  --light-color: #5e6263;

  --active-color: #f7f5f1;
  --active-text-color: #313231;

  --circle-color: #f7f5f1;

  --logo-color: #f7f5f1;
  --logo-letter1: #abbe60;
  --logo-letter2: #bc9438;
  --logo-letter3: #aa322a;
  --logo-letter4: #92b5cb;
}

[data-theme='light'] {
  --background-color-primary: #eeeeee;
  --background-color-secondary: #dddddd;
  --light-color: #b2b2b2;

  --active-color: #444444;
  --active-text-color: #eeeeee;

  --circle-color: #444444;

  --logo-color: #444444;
  --logo-letter1: #abbe60;
  --logo-letter2: #bc9438;
  --logo-letter3: #aa322a;
  --logo-letter4: #92b5cb;
}

[data-theme='vscode'] {
  --background-color-primary: #1e1e1e;
  --background-color-secondary: #191919;
  --light-color: #4d4d4d;

  --active-color: #d4d4d4;
  --active-text-color: #1e1e1e;

  --circle-color: #3478c6;

  --logo-color: #d4d4d4;
  --logo-letter1: #3478c6;
  --logo-letter2: #3478c6;
  --logo-letter3: #3478c6;
  --logo-letter4: #3478c6;
}

[data-theme='playingCards'] {
  --background-color-primary: #ffffff;
  --background-color-secondary: #ececec;
  --light-color: #b7b7b7;

  --active-color: #000000;
  --active-text-color: #ffffff;

  --circle-color: #ea3323;

  --logo-color: #000000;
  --logo-letter1: #ea3323;
  --logo-letter2: #ea3323;
  --logo-letter3: #ea3323;
  --logo-letter4: #ea3323;
}

[data-theme='purple'] {
  --background-color-primary: #d5d3d6;
  --background-color-secondary: #c8bfc9;
  --light-color: #b09db3;

  --active-color: #55225c;
  --active-text-color: #d5d3d6;

  --circle-color: #55225c;

  --logo-color: #55225c;
  --logo-letter1: #abbe60;
  --logo-letter2: #bc9438;
  --logo-letter3: #aa322a;
  --logo-letter4: #92b5cb;
}

[data-theme='coffee'] {
  --background-color-primary: #d9d3c3;
  --background-color-secondary: #c7c3b5;
  --light-color: #949082;

  --active-color: #1d1b17;
  --active-text-color: #d9d3c3;

  --circle-color: #1d1b17;

  --logo-color: #1d1b17;
  --logo-letter1: #1d1b17;
  --logo-letter2: #1d1b17;
  --logo-letter3: #1d1b17;
  --logo-letter4: #1d1b17;
}

[data-theme='strawberry'] {
  --background-color-primary: #f6cace;
  --background-color-secondary: #e9bcbe;
  --light-color: #951d12;

  --active-color: #ffffff;
  --active-text-color: #951d12;

  --circle-color: #ffffff;

  --logo-color: #ffffff;
  --logo-letter1: #ffffff;
  --logo-letter2: #ffffff;
  --logo-letter3: #ffffff;
  --logo-letter4: #ffffff;
}

[data-theme='oneDark'] {
  --background-color-primary: #30343e;
  --background-color-secondary: #272b33;
  --light-color: #edeff4;

  --active-color: #74adea;
  --active-text-color: #edeff4;

  --circle-color: #74adea;

  --logo-color: #edeff4;
  --logo-letter1: #a1c281;
  --logo-letter2: #a1c281;
  --logo-letter3: #a1c281;
  --logo-letter4: #a1c281;
}
