// Color config
$backgroundColorPrimary: #eeeeee;
$backgroundColorSecondary: #B2B2B2;
$lightColor: #DDDDDD;

$activeColor: #444444;
$activeTextColor: #eeeeee;

$logoSecondary: #444444;
$circleColor: #444444;

$logoLetter1: #444444;
$logoLetter2: #444444;
$logoLetter3: #444444;
$logoLetter4: #444444;