@media(max-width: 1200px) {
  .app-container {
    grid-template-columns: 1fr 1fr;
  }

  .lists-section {
    position: absolute;
    width: 35vw;
    left: 58vw;
    top: 8vh;
    z-index: -1;
    opacity: 50%;
  }
}

@media (max-width: 1039px) {
  .app-container {
    justify-content: center;
  }
}
@media (max-width: 934px) {
  .container {
    width: 95%;
  }
  .app-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.9fr 1fr;
  }
  
  .lists-section {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 100%;
    width: 100%;
  }
  footer {
    padding: 10px 0;
  }
}
@media (max-width: 768px) {
  .tasks-lists-section-header {
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 720px) {
  .app-container {
    grid-template-columns: 1fr;
    grid-template-rows: none;
    .timer-section {
      grid-column: span 1;
      justify-self: center;
    }
    .task-section {
      height: 60vh;
    }

    .lists-section {
      height: 60vh;
    }
  }
  .add-new-task-list-container {
    height: 10%;
  }
}