.overlay, 
.taskOverlay, 
.transparentOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: 200ms ease-in-out;
}

.overlay, .taskOverlay {
    background-color: rgba(0, 0, 0, .5);
    z-index: 6;
}

.transparentOverlay {
    background-color: transparent;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.really-hidden {
    display: none;
}

.hidden-submit {
    opacity: 0;
    width: 0;
    height: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

input[type="text"]:focus {
    outline: none !important;
    box-shadow: 0 0 0 2px var(--circle-color);
}

.add-list-window, .add-task-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: var(--background-color-primary);
    width: 480px;
    height: auto;
    border-radius: 15px;
    z-index: 10;
}

.active {
    transform: translate(-50%, -50%) scale(1);
}

.upload, .uploadTask {
    padding: 20px;
}

.formUpList {
    position: relative;
    z-index: 10;
}

.whole-screen-submit {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: -1;
    opacity: 1;
    outline: none;
    pointer-events: all;
}
.upload-heading {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 15px;
    color: var(--active-color);
}

.name-input, 
.edit-list-input, 
.edit-list-input_active, 
.edit-task-input, 
.edit-task-Subtitle-input, 
.edit-task-Subtitle-input_active, 
.edit-task-input_active, 
.edit-est-pom-input, 
.edit-est-pom-input_active {
    width: 83%;
    border: none;
    border-radius: 5px;
    padding: 3px;
    padding-left: 5px;
    font-size: 16px;
    z-index: 10;
    pointer-events: all;
}

.edit-task-input, 
.edit-task-input_active {
    background: var(--light-color);
    color: var(--active-color);
}

.edit-task-Subtitle-input, 
.edit-task-Subtitle-input_active {
    background: var(--light-color);
    color: var(--active-color);
    height: 15px;
    margin-top: 5px;
    width: 50%;
    font-size: 12px;
}

.edit-task-input_active:focus, 
.edit-task-Subtitle-input_active:focus, 
.edit-est-pom-input_active:focus {
    outline: none !important;
    box-shadow: 0 0 0 2px var(--background-color-primary) !important;
}

.edit-est-pom-input, 
.edit-est-pom-input_active {
    background: var(--light-color);
    color: var(--active-color);
}

.edit-list-input {
    background: var(--background-color-secondary);
    color: var(--active-color);
}

.edit-list-input_active {
    background: var(--active-color);
    color: var(--active-text-color);
}

.name-input {
    margin-bottom: 10px;
    background: var(--background-color-secondary);
    color: var(--active-color);
}

.sub-input {
    margin-left: 6px;
}

.est-pom-input, 
.edit-est-pom-input, 
.edit-est-pom-input_active {
    outline: none;
    width: 15%;
    padding-bottom: 5px;  
}

.edit-est-pom-input {
    width: 20%;
    &:focus {
        box-shadow: 0 0 0 2px var(--circle-color);
    }
}

.edit-est-pom-input_active {
    width: 20%;
    &:focus {
        box-shadow: 0 0 0 2px var(--background-color-primary) !important;
    }
}

.est-pom-input:focus {
    box-shadow: 0 0 0 2px var(--circle-color);
}

.est-pom-controls {
    width: 10%;
    height: 26.5px;
    border: 2px solid var(--light-color);
    border-radius: 5px;
    margin-bottom: 25px;
    margin-left: 5px;
    background-color: var(--background-color-secondary);
    color: var(--light-color);
}

.fa-caret-down, 
.fa-caret-up, 
.fa-edit, 
.fa-trash-alt {
    pointer-events: none;
}

.fa-check {
    pointer-events: all;
}

.est-pom-controls:active {
    height: 24.5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

#list-imput-label, 
#task-imput-label, 
#task-est-pomodoros {
    color: var(--active-color);
    margin-right: 10px;
}

.add-list-control-btns, 
.add-task-control-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.list-name-btn, 
.task-name-btn{
    width: 60px;
    height: 21px;
    border: 1px solid var(--light-color);
    border-radius: 5px;
    margin-right: 5px;
    background-color: var(--background-color-secondary);
    color: var(--active-color);
    text-align: center;
}

// LIST DROPDOWN MENU
.dropdown-list-settings {
    @include dropdown;
    top: 40px;
    width: 49%;
    left: 50%;

    .list-setting {
        @include dropdown-item;
    }
}

// edit task
.formUpTask {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.task-grid_mod {
    grid-template-columns: 3fr 0.35fr !important;
}

.edit-task_mod  {
    position: relative;
    z-index: 2;
    pointer-events: none;
}

#confirm-edit-task {
    background: none;
    border: none;
    padding-bottom: 0;
}

#delete-task_mod {
    padding-bottom: 0;
    pointer-events: all;
}

.dropdown-themes {
    @include dropdown;
    width: 200px;
    left: 76.1%;
    top: 60px;

    .theme-item {
        @include dropdown-item;
    }
}