.navbar {
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 1.11fr 2fr;
    gap: 2rem;

    .logo {
        color: var(--logo-color);
        font-size: 1.4vw;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo-letter1 {
            color: var(--logo-letter1);
        }
        .logo-letter2 {
            color: var(--logo-letter2);
        }
        .logo-letter3 {
            color: var(--logo-letter3);
        }
        .logo-letter4 {
            color: var(--logo-letter4);
        }
    }

    .menu {
        display: flex;
        justify-content: end;
        align-items: center;

        .menu-list {
            list-style: none;
            display: flex;
        }
    }
}
