.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        color: var(--active-color);
        font-size: 1.5rem;

        .logo-letter1 {
            color: var(--logo-letter1);
        }
        .logo-letter2 {
            color: var(--logo-letter2);
        }
        .logo-letter3 {
            color: var(--logo-letter3);
        }
        .logo-letter4 {
            color: var(--logo-letter4);
        }
    }

    .menu-list {
        list-style: none;
        display: flex;
    }
}
