.tasks-lists-section-header {
  height: 75px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  .tasks-lists-title {
    color: var(--active-color);
    font-weight: 200;
    font-size: 2rem;
    margin-top: 1rem;
  }
}

.tasks-comleted {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem;
  padding-bottom: 10px;
  .tasks-comleted_text {
    color: var(--light-color);
    margin-right: 5px;
    
  }
  .tasks-comleted_btn {
    cursor: pointer;
    color: var(--light-color);
    &:hover {
      color: var(--active-color);
    }
  }
}

.task {
  min-height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--light-color);
  .task-checkbox {
    padding-right: 0.5rem;
  }
  .task-grid {
    display: grid;
    grid-template-columns: 3fr 0.5fr 0.5fr 0.5fr;
    width: 100%;
    .task-title {
      font-size: 1rem;
      color: var(--active-color);
      font-weight: 100;
      padding-right: 1rem;
      cursor: pointer;
    }
    .task-subtitle {
      font-size: 12px;
      color: var(--light-color);
    }
    .task-settigs {
      padding-top: 0;
      padding-right: 0;
      margin-right: -0.3rem;
      margin-top: -0.2rem;
      justify-self: end;
      &:hover {
        color: var(--active-color);
      }
    }
  }
}

.active-task {
  border-radius: 5px;
  border-bottom: none;
  .task-grid {
    .task-title {
      color: var(--active-text-color);
    }
    .task-settigs:hover {
      color: var(--background-color-primary);
    }
  }
  background-color: var(--active-color);
}

.task-counter {
  color: var(--light-color);
}

.list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  min-height: 35px;
  width: 100%;
  border-bottom: 1px solid var(--light-color);
  .text-btn {
    cursor: auto;
  }
  .list-title {
    font-weight: 100;
    color: var(--active-color);
    cursor: pointer;
  }
  .list-settings-icon {
    margin-right: 15px;
    color: var(--light-color);
  }
  .list-settings-disabled {
    opacity: 0;
    pointer-events: none;
  }
  .opacityToggle {
    opacity: 0;
  }
  &:hover .list-settings-icon {
    opacity: 100%;
    cursor: pointer;
  }
  &:hover .list-settings-disabled {
    opacity: 0;
    cursor: none;
  }
}

.list-active {
  border-radius: 5px;
  border-bottom: none;
  background-color: var(--active-color);
  .list-title {
    color: var(--active-text-color);
  }
}

// CUSTOM CHECKBOX
.checkbox-input {
  display: none;
}

.checkbox-box {
  @include flex-center;
  width: 1.25em;
  height: 1.25em;
  box-shadow:inset 0px 0px 0px 1px var(--light-color);
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 15px;
  flex-shrink: 0;
}

.checkbox-input:checked + .checkbox-box {
    box-shadow: 0px 0px 0px 1px var(--active-color);
    border:  3px solid var(--background-color-secondary);
    background-color: var(--active-color);
}

.checkbox-input:checked + .checkbox-box-active {
    box-shadow: 0px 0px 0px 1px var(--background-color-secondary);
    border: 3px solid var(--active-color);
    background-color: var(--background-color-secondary);
}

// Trigers with js
.task-title-checked {
    color: var(--light-color) !important;
    text-decoration: line-through;
}

// Add buttons
.add-new-task-list-container {
  @include flex-center;
    width: 100%;
    height: 5%;
    button {
        border: none;
        background-color: var(--background-color-secondary);
        color: var(--light-color);
    }
}
.add-new-task-list-container {
    button:hover {
        color: var(--active-color);
    }
}