// Top
.timer-btns-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}
.timer-btn {
  padding: 1rem;
  text-align: center;
  box-shadow: inset 0px 0px 0px 1px var(--light-color);
  border-radius: 25px;
  width: 120px;
  button {
    // font-size: clamp(0.75rem, 1.1vw, 1.5rem);
    font-size: 1rem;
    border: none;
    color: var(--light-color);
    background-color: var(--background-color-primary);
  }
}

.active-timer-btn {
  box-shadow: 0px 0px 0px 5px var(--active-color);
  background-color: var(--background-color-secondary);
  button {
    background-color: var(--background-color-secondary);
    color: var(--active-color);
  }
}
.timer-btn:hover {
  background-color: var(--active-color);
  box-shadow: 0px 0px 0px 1px var(--active-color);
  button {
    background-color: var(--active-color);
    color: var(--background-color-primary);
  }
}

// Middle
.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressbar-ring {
  stroke: var(--circle-color);
  stroke-width: 7px;
}

.progressbar-ring-circle {
  transform-origin: center;
  transform: rotate(-90deg);
  transition: stroke-dashoffset 0.3s;
}

// HERE WILL BE TIMER
.percent-test {
  position: absolute;
}
// Bottom
.timer-btns-bottom {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  .timer-btn {
    padding: 0.5rem;
    width: 180px;
    text-align: center;
    button {
      font-size: 1.6rem;
    }
  }
  .timer-icons {
    margin: auto 0px;
    margin-left: 15px;
    font-size: 2rem;
  }
}
